{#
/**
 * @file
 * Bartik's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see bartik_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container {{ page_class }}">

  {% include "@openy_lily/include/sidebar-search-and-menu.html.twig" %}
  <div id="side-area" aria-hidden="true">
    <div class="top-side">
      {% if display_search %}
        <form class="clearfix" method="get" action="{{ search_view_content_path }}">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="{{ search_key }}" class="form-control">
              <span class="input-group-btn">
              <button class="btn btn-info" type="submit">{{ "SEARCH"|t }}</button>
            </span>
            </div>
          </div>
        </form>
      {% endif %}
    </div>
    {% block mobile_menu %}
      {{ page.mobile_menu }}
    {% endblock %}
  </div>{# /#side-area #}

  <div class="viewport">
    <header id="page-head" class="page-head">
      <div class="top-navs">
        <nav class="nav-global navbar-default navbar">
          <div class="container-fluid">
              {% block page_logo %}
                {% if (page_class == 'is-camp') and (camp_section_image is not empty) %}
                  <a href="{{ front_page }}" title="{{ "YMCA Twin Cities"|t }}" rel="{{ "YMCA Twin Cities"|t }}">
                    <img src="{{ camp_section_image }}" alt="{{ "YMCA Twin Cities"|t }}">
                  </a>
                {% else %}
                  <a class="navbar-brand" href="{{ base_path }}" title="{{ "OpenY"|t }}" rel="{{ "OpenY"|t }}"></a>
                {% endif %}
              {% endblock %}
            <div class="navbar-header">
              <button class="navbar-toggler">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="sr-only">{{ 'Toggle Menu'|t }}</span>
              </button>
            </div>
            {{ page.secondary_menu }}
          </div>
        </nav>

        {% if is_front %}
          {% block home_heading %}{% endblock %}
        {% endif %}

        {% block primary_menu %}
          <div class="nav-wrapper">
            <div class="main-nav" data-spy="affix" data-offset-top="50">
              {{ page.primary_menu }}
            </div>
          </div>
        {% endblock %}
      </div>
    </header>{# /.page-head #}

    {% block pageheader %}
      {{ page.header }}
    {% endblock %}

    {% block pagebreadcrumb %}
      <div class="row breadcrumb-container hidden-xs">
      <div class="container-fluid">
        {{ page.breadcrumb }}
      </div>
      </div>{# /.breadcrumb-container #}
    {% endblock %}

    {{ page.highlighted }}

    <main id="main" role="main" class="page-middle">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div class="layout-content">
        {% block pagecontent %}
          {{ page.content }}
        {% endblock %}
      </div>{# /.layout-content #}
    </main>{# /#main #}

    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {{ page.pre_footer }}
          </div>
        </div>
      </div>
    </div>{# /.pre-footer #}

    <footer id="page-footer" class="page-footer text-center footer-themes-b">
      <div class="container">
        {% if page.footer_menu %}
          {{ page.footer_menu }}
        {% endif %}
        <div class="col-sm-12 social-disclaimer">
          {{ page.footer_social }}
        </div>
      </div>
    </footer>{# /#page-footer #}

    <div class="text-center return-to-top" data-spy="affix" data-offset-top="52">
      <a href="#main-content" title="{{ 'Scroll to top'|t }}" class="btn btn-default" aria-label="{{  'Scroll to top'|t }}">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
    </div>{# /.return-to-top #}
  </div>{# /.viewport #}

</div>{# /.layout-container #}
