.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}

.pull-right-lg {
  @include breakpoint($screen-desktop) {
    float: right !important;
  }
}

.ajax-progress-throbber {
  position: absolute;
  opacity: 0.2;
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.list-term {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  row-gap: 30px;
}
.row-eq-height {
  @include display-flex;
  @include flex-wrap(wrap);

  &:before,
  &:after {
    content: none;
  }
}

// Angular styles.
.ng-hide {
  display: none !important;
}

.button {
  @extend .btn;
}

.align-center {
  text-align: center;
  margin: 12px 0 25px;
}

// Embedded items.
.embedded-entity {
  clear: both;
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
  img {
    height: auto;
    width: 100%;
  }
  .media-document {
    iframe {
      height: 500px;
      width: 100%;
    }
  }
  .media-video {
    padding: 10px 0;
  }
  &.view-mode-media-embedded-full {
    width: 100%;
  }
  &.view-mode-media-embedded-half {
    width: 50%;
    @include breakpoint(0 $screen-xs) {
      width: 100%;
    }
  }
  &.align-center {
    text-align: center;
    margin: 0 auto;
  }
  &.align-left {
    @include breakpoint(0 $screen-xs) {
      float: none;
      text-align: center;
    }
    @include breakpoint($screen-xs) {
      float: left;
      margin-right: 20px;
    }
  }
  &.align-right {
    @include breakpoint(0 $screen-xs) {
      float: none;
      text-align: center;
    }
    @include breakpoint($screen-xs) {
      float: right;
      margin-left: 20px;
    }
  }
}

// Media.
.media.view-mode-full {
  margin: 20px auto;
}
