.microsites-menu.microsites-menu--hide-main-menu {
  .nav-home .navbar-nav, #page-head .nav-wrapper {
    display: none;
  }
}
.microsites-menu__wrapper {
  background: $blue;
}
.wrapper-field-menu-block-links {
  line-height: 55px;
  overflow: hidden;
  .field-menu-block-links {
    display: block;
    float: left;
    line-height: 40px;
    @media (min-width: $screen-tablet) {
      line-height: 50px;
    }
    @media (min-width: $screen-lg-desktop) {
      line-height: 55px;
    }
    a {
      @include cachet();
      color: inherit;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 40px;
      padding: 10px 15px 15px 15px;
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
