.paragraph--type--latest-news-posts-branch {
  .field-prgf-block {
    margin: 0 -15px;
  }
}

.news-more-teaser {
  margin-top: 20px;

  .h1 {
    padding-bottom: 0;
  }
  .form-item-combine {
    padding: 0 0 0 200px !important
  }

  .views-view-grid {
    text-align: center;

    @media (max-width: 1200px) {

      .row {
        display: inline;

        &:before,
        &:after {
          content: none;
        }
      }
    }

    @media (min-width: 1200px) {

      .row {
        display: inline;
      }
    }
  }

  .views-exposed-form {
    background-color: #ebebeb;
    width: 100%;
    padding: 17px 25px;
    margin-bottom: 49px;

    @media (min-width: 1024px) {
      height: 92px;
      display: table;
    }

    & > div {
      vertical-align: bottom;

      @media (min-width: 1024px) {
        display: table-cell;
        padding: 0 20px 0 0;
        width: 50%;
        &.form-item-field-news-category-target-id {
          display: table-cell;
          padding: 0;
        }

        &.form-item-related-content-titles {
          width: 258px;
        }

        &.form-actions {
          padding-right: 0;
        }
      }
    }
  }

  .form-actions {
    text-align: center;
    padding-top: 20px;

    @media (min-width: 1024px) {
      padding-top: 0;
      text-align: inherit;
    }
  }

  label {
    display: block;
    @include cachet();
  }

  .form-item-combine label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  select {
    @include cachet();
  }

  .form-text {
    width: 100%;
    height: 34px;
    padding-left: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @media (min-width: 1024px) {
      width: 250px;
    }
  }

  input[type="submit"] {
    width: 90px;
    height: 34px;
    padding: 7px 16px;
    border: solid 1px #636466;
    font-size: 16px;
    font-weight: 600;
    @include cachet();
    text-transform: uppercase;
  }

  .no-results {
    margin-bottom: 49px;
  }
}

.node--type-news.node--view-mode-teaser {
  max-width: 100%;
  min-width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  a {
    .inner-wrapper {
      overflow: visible;
      height: auto;
      border: none !important;
      background-color: rgba(255, 255, 255, 0.61);
      .blog-up {
        text-align: center;
        position: relative;
        .category {
          position: absolute;
          left: 0;
          padding: 10px 20px;
          background-color: $main-purple;
          color: white;
          font-weight: bold;
          z-index: 1;
        }
        .field-media-image {
          height: 100%;
        }
        .default-img {
          height: 210px;
          border-bottom: 1px solid #ebebeb;
          border-top: 1px solid #ebebeb;
          img {
            margin: 36px 0;
            height: 75%;
            width: auto;
          }
        }
      }
      .blog-heading {
        padding: 12px;
        position: static;
        height: auto;
        @include transition(all 0.5s ease);
        h2 {
          color: #635f5f;
          font-weight: bold;
          margin-top: 8px;
          font-size: 30px;
          @include transition(all 0.5s ease);
          &:after {
            margin: 10px 10px 0;
            display: inline-block;
            color: white;
            background: #b3b3b3;
            content: "\f054";
            text-align: center;
            font-size: 15px;
            @include font-awesome();
            @include transition(all 0.5s ease);
            width: 21px;
            height: 21px;
            border-radius: 50%;
            padding-top: 3px;
            padding-left: 2px;
            vertical-align: text-top;
          }
        }
        p {
          color: #635f5f;
          font-size: 14px;
          strong {
            font-weight: normal !important;
          }
        }
      }
    }
    &:hover {
      .inner-wrapper {
        .blog-heading {
          background-color: white !important;
          h2 {
            color: black;
            &:after {
              background: $blue;
            }
          }
        }
      }
    }
  }
}
